# CROP PREDICTION ANALYSIS WITH CLASSIFICATION

This is an Agricultural Machine Learning Project that is used to help in helping in making predictions and supporting decisions on what crops to grow and what to do during the growing season of the crops.The process of crop prediction starts with the: soil preparation, seeds breeding and water feed measurement and mostly ends with determining the ripeness with the help of computer vision.

In tthis project , we will use the parameters of N-P-K, temperature, humidity, pH value, rainfall, crop from their side and the application will predict which crop should the user grow.

* Potassium (K) – Potassium is a nutrient that helps the overall functions of the plant perform correctly.
* Nitrogen (N) – Nitrogen is largely responsible for the growth of leaves on the plant.
* Phosphorus (P) – Phosphorus is largely responsible for root growth and flower and fruit development.

# IMPORTING LIBRARIES

In [1]:
from __future__ import print_function
import pandas as pd # data analysis
import numpy as np # linear algebra

#import libraries for data visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots


from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')

In [8]:
crop = pd.read_csv("Crop_recommendation.csv")
crop.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [9]:
#Dataset Information

crop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [10]:
#Total Columns

crop.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [12]:
#Shape of Dataset

print("The Shape of data:",crop.shape)

The Shape of data: (2200, 8)

In [19]:
print("\nThe total  crops in dataset are:", crop['label'].unique())
print("\nThe total amount of each crop: ",crop['label'].value_counts())

The total  crops in dataset are: ['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans'
 'mungbean' 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes'
 'watermelon' 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton'
 'jute' 'coffee']

The total amount of each crop:  rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: label, dtype: int64

- The